* {
    margin: 0;
    padding:0;
}

/*
Grid layout
*/

.container {
    width: 12fr;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

.container ~ * {
    margin-top: 5em;
}

.col-12 {
    grid-column: span 12;
}

.col-11 {
    grid-column: span 11;
}

.col-10 {
    grid-column: span 10;    
}

.col-9 {
    grid-column: span 9;  
}

.col-8 {
    grid-column: span 8;  
}

.col-7 {
    grid-column: span 7;
    
}

.col-6 {
    grid-column: span 6;   
}

.col-5 {
    grid-column: span 5;
}

.col-4 {
    grid-column: span 4;
}

.col-3 {
    grid-column: span 3;
}

.col-2 {
    grid-column: span 2;    
}

.col-1 {
    grid-column: span 1;
}

/* Typograhpy*/
h1 {
    font-size: 5.5em;
}

h2 {
    font-size: 4.5em;
}

h3 {
    font-size: 3.5em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 0.5em;
}


@media only screen and (max-width: 1080px) {
    .container {
        width: 95%;
    }
}


@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .col-3, .col-2, .col-1 {
        grid-column: span 4;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3.6em;
    }

    h3 {
        font-size: 3.2em;
    }

    h4 {
        font-size: 2.8em;
    }

    h5 {
        font-size: 2.4em;
    }

    h6 {
        font-size: 2em;
    }

}

@media only screen and (max-width: 600px) {
    .col-12, .col-11, .col-10, .col-9, .col-8,
    .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
        grid-column: span 12;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.6em;
    }

    h4 {
        font-size: 1.4em;
    }

    h5 {
        font-size: 1.2em;
    }

    h6 {
        font-size: 1.0em;
    }

}
